body {
    font-family: 'Poppins', sans-serif;
}

span {
    color: orange;
}

h1 {
    font-size: 50px;
}

/* section {
    display: flex;
    padding: 5px;
    margin-bottom: 150px;
} */
.flex-container {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.orange-style {
    background-color: orange;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700px;
    color: white;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.orange1-style {
    color: orange;
}

.item1-style {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}